.weather-widget {
  background-color: $c-background;
  border: $border-thickness $c-borders solid;
  border-radius: $border-radius;
  max-width: 40em;
  padding: $gap-small;

  > * + * {
    margin-top: $gap-small;
  }
}
