@value colours: "../colours.css";
@value mustard, mustard-light, mustard-dark from colours;
@value defaultPadding: 0.5em 1em;

.wrapper {
    margin: 0 auto;
}

.btn {
    color: mustard;
    border: 1px solid mustard-light;
    background-color: transparent;
    padding: defaultPadding;
}

.btn:hover {
    color: mustard-dark;
    border-color: mustard;
    cursor: pointer;
}

.input {
    border: 1px solid mustard-light;
    padding: defaultPadding;
}